.App {
  text-align: center;
  background-color: #5E412F; 
}

.app-title {
  font-weight: 800;
  font-size: 24px;
  color: #F2F2F2;
}

.list-display {
  background-color: #FCEBB6; 
  border-radius: 5px;
  margin: 0 auto;
  width: 40%;
}

.list-display div {
  margin-bottom: 5px;
}

.my-form {
  padding-top: 15px;
  padding-bottom: 50px;
}

.submit-button {
  margin-left: 5px;
  background-color: #78C0A8; 
  border: none;
  border-radius: 5px;
}

.active-btn {
  border: 1px solid black; 
}

.bold-sect {
  font-weight: 600;
}

.sortBtn-div {
  margin: 0 auto;
}

.buttonClass {
  background-color: #F0A830; 
  border: none;
  border-radius: 5px;
}

.linkClass {
  text-decoration: none;
}

.sortButton {
  background-color: #F0A830; 
  margin-bottom: 2px;
  border-radius: 5px;
  margin-right: 1px; 
  border: none;
}

.bottomText {
  color: #F2F2F2;
}

/* Mobile Styles */
@media only screen and (max-width: 750px) {

  .list-display {
    width: 70%;
  }

}