.App {
  text-align: center;
  background-color: #d35400;
}

.app-title {
  float: left;
  margin-left: 15px;
  font-weight: 800;
  font-size: 24px;
}

.stay-right {
  float: right;
  margin-right: 15px;
}

.list-display {
  background-color: #ecf0f1;
  border-radius: 5px;
  margin: 0 auto;
  width: 40%;
}

.list-display div {
  margin-bottom: 5px;
}

.my-form {
  padding-top: 15px;
  padding-bottom: 50px;
}

.submit-button {
  margin-left: 5px;
}

.bold-sect {
  font-weight: 600;
}