.App {
  text-align: center;
}

.list-display {
  background-color: grey;
  margin: 0 auto;
  width: 40%;
}

.list-display div {
  margin-bottom: 5px;
}

.my-form {
  margin-top: 15px;
  margin-bottom: 30px;
}